{% extends "entries/base.html" %}
{% block content %}
<div class="col-md-8">
  <div class="card mb-4 mt-4">
    <div class="card-header">Delete Blog Post
    </div>
    <h2 class="col-md-8">Are u sure u want to delete the post {{ object.entry_title }}</h2>
    <div class="card-body">
      <form method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-outline-danger" value="Delete">
          <a  href="{% url 'detail' object.id %}"type="submit" class="btn btn-outline-secondary">Cancel</a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
