{% extends "entries/base.html" %}
{% block content %}

<!-- Blog Entries Column -->
<div class="col-md-8 mt-4">
  <!-- Blog Post -->
  <div class="card mb-4 mt-4">
    <div class="card-body">
      <h2 class="card-title">{{ object.entry_title }}</h2>
      {% if object.image %}
      <img src="{{object.image.url}}" class="img-thumbnail" >
      {% endif %}
      <p class="card-text">{{ object.entry_text|safe }}</p>
    </div>
	<div id="like-section-{{object.id}}" class="col-md-8">
    {% include 'entries/like_section.html' %}
	</div>
    <div class="card-footer text-muted">
      Posted on {{ object.entry_date }} by
      <span class= "text-info mr-2">{{ object.entry_author }}</span>
        {% ifequal user object.entry_author %}
          <a style="float:right;" href="{% url 'delete' object.id %}"class="btn btn-outline-danger btn-sm fa fa-remove"id="delete"></a>
          <a style="float:right;" href="{% url 'entry-update' object.id %}"class="btn btn-outline-info btn-sm fa fa-pencil"></a>
        {% endifequal %}
    </div>
    {% if not object.restrict_comment %}
    <div id="comment-section-{{object.id}}" class="main-comment-section col-md-12 mt-4" >
      {% include 'entries/comment.html' %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
